/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font: 15px Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*font-size: small; */
  text-align: center;
}

body, .posts li {
  background-color: #bbb;
}

body, a, a:hover, a:visited, .logo path, svg path {
  fill: #111!important;
  color: #111;
}

blockquote {
  border-left: 0.5em solid #111;
  padding-left: 2em;
}
blockquote footer {
  text-align: right;
}
blockquote footer:before {
  content: "—";
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; 
  font-style: none;
}
h1 {
  margin-top: 1.5em;
  font-size: 2.5em;
  line-height: 1.5em;
}
h2 {
  margin-top: 1em;
  font-size: 2em;
  line-height: 1.5em;
}

h3 {
  margin-top: 0.5em;
  font-size: 1.5em;
  line-height: 1.5em;
}
p { 
  font-size: 1em;
  margin: 1em 0; 
  line-height: 1.5em;
}

a         { text-decoration: none; font-weight: bold; font-style: italic; }
a:hover   { }
a:visited { }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.element {
  width: 100%;
  display: block;
  margin: 0.5em 0;
}
.element iframe {
  width: 100%;
}
.video, .spotify, .instagram {
  /*min-height: 4em;
  max-height: 12em;*/
  position: relative;
}
.instagram {
  max-height: 596px;
}
.instagram:before {
  content: "";
  display: block;
  padding-top: 130%;
}
.spotify:before {
  content: "";
  display: block;
  padding-top: 110%;
}
.spotify.small:before {
  padding-top: 80px;
}

.video:before {
  content: "";
  display: block;
  padding-top: 60%;
  background: yellow;
}
.video *, .spotify *, .instagram * {
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}
.posts > li > a {
  font-style: normal;
}
.posts .detail {
  display: block;
  text-align: center;
}
.posts li {
  line-height: 1.75em;
  list-style: none;
  padding: 10px;
  margin-bottom: 30px;
}

.posts h1 {
  font-size: 1.5em;
}

.posts h1, .posts h2 {
  text-align: center;
}

.posts time {
  display: none;
}

.posts span {
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  max-width: 30em;
  min-width: 10em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

img {
  max-width: 100%;
}

header {
  text-align: center;
  margin-bottom: 2em;
}
header a {
  font-weight: bold;
  text-decoration: none;
}

.site > header h1 {
  display: inline-block;
  display: none;
  padding: 0;
}

.title > a {
  background: url("/svg/head.svg") no-repeat center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  display: inline-block;
  text-align: center;
  line-height: 0; 
  overflow: hidden;
  white-space: nowrap;
  text-indent: 200px;
  display: none;
}



.logo {
  display: inline;
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.site > header > h1 > a {
}

.site > header > h1 > a:hover {
}

.site > header > h1 > a.extra {
  margin-left: 1em;
}

.site > header > h1 > a.extra:hover {
}

.meta {
  color: #aaa;
}

.footer {
  margin: 0 10px;
  font-size: 80%;
  color: #666;
  border-top: 4px solid #666;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/


.tags {
  text-align: center!important;
  list-style-type: none;
  margin-top: 1em;
  margin-left: 0!important;
}
.tags li {
  display: inline-block!important;
  font-size: 2em;
}
.tags span {
  display: none;
}

/* standard */
.post {
  padding: 10px;
  border-radius: 10px;
}
.post .detail {
  display: block;
  text-align: center;
  margin-bottom: 0.25em;
  line-height: 1em;
}
div.highlight {
  border-radius: 2px;
  overflow-y: scroll;
}
.post pre {
  padding: 0 .4em;
}
.pagination > * {
  display: block;
  text-align: center;
}
.post header {
}
.post header h1 {
  vertical-align: top;
}
.post time {
  position: relative;
}
.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border-radius: 2px;
  padding: 0 .2em;
  color: #333;
}

.post pre > code {
  border: none;
  background-color: none!important;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
