body {
  /* color: #000; */
  /* background-color: #fff; */
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    line-height: 1.1em;
    font-size: 1em;
}

pre, code { }

pre {
  display: block!important;
  padding: .25em 0em;
  border-radius: 4px;
  border: 1px solid #bbb;
  overflow: none;
  line-height: 1.2em;
}

.emoji {
  line-height: 1em;
}

.logo {
  /* border: 1px solid red; */
}
.site {
  max-width: 80%;
}
