---
layout: default
title: Blurt 
mathjax: true
head: mugshot
emojify: true
---
<div id="home">
  <ul class="posts">
    {% for post in paginator.posts %}
    {% unless post.visible == false %}
    <li>
      <a href="{{ post.url }}">
        <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_string }}</time>
        <h2 id="posts-title-{{ forloop.index }}">
          {% include icons-entypo.html type=post.type icon=post.icon %}
          {{ post.title }}
        </h2>
        <p id="posts-description-{{ forloop.index }}">{{ post.description }}</p>
      </a>
      {% if post.emojify %}
      <script>
        // TODO: Refactor such that setConfig is only called once per page
        emojify.setConfig({ img_dir: "/images/emoji" });
        emojify.run(document.getElementById("posts-title-{{ forloop.index }}"));
        emojify.run(document.getElementById("posts-description-{{ forloop.index }}"));
      </script>
      {% endif %}
    </li>
    {% endunless %}
    {% endfor %}
  </ul>

  <div class="pagination">
    <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
    <div>
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.url | replace: '//', '/' }}" class="previous">Previous</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}" class="next">Next</a>
    {% endif %}
    </div>
  </div>
</div>
