---
layout: default
title: Resume
---
<article class="post">
  <header>
    <time datetime="{{ post.date  }}">{{ post.date  }}</time>
    <h1>
      {% include icons-entypo.html type=page.type %}
      {{ page.title }}
    </h1>
  </header>

  <p>Name: <a href="http://en.wikipedia.org/wiki/David">David</a> <a href="http://en.wikipedia.org/wiki/Daniel">Daniël</a> <a href="#">Asabina</a></p>
  <p>Birthyear: <a href="http://en.wikipedia.org/wiki/1988">1988</a></p>
  <p>Habitat: <a href="https://www.google.com/search?q=Rotterdam">Rotterdam, The Netherlands</a></p>
  <p>E-mail: <a href="mailto:as@bina.me">as at bina dot me</a></p>

  <ul class="experience">
    {% for experience in site.data.experience %}
    {% if experience.public %}
    <li>
      {% include icons-entypo.html type=experience.type %}
      <a href="{{experience.organization.url}}">{{experience.organization.name}}</a>,
      <span>{{experience.title}} {% if experience.country %} in {% if experience.city %}{{ experience.city }}, {% endif %}{{ experience.country }}{% endif %}</span>
      <p>{{experience.period}}</p>
      <p>{{experience.description}}</p>
      {% if experience.keywords %}
      <p class="labels">{% for tech in experience.keywords %}<span>{{ tech }}</span>{% endfor %}</p>
      {% endif %}
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <h2>About</h2>
  <p>As a kid in Suriname I spend my time tinkering with electronics, doing 
  chores I didn't like, readining and playing&mdash;off course (I was a 
  reasonably normal kid {{ ":wink:" | emojify }}).
  I taught myself how to program computers through online tutorials and 
  hardcover books that my father had in his collection. Apparently during his 
  economics studies during the 80's in The Netherlands, they also received some 
  programming courses in C and C++ which explained him buying the books.
  The internet tutorials I would download from the internet when my parents 
  weren't home. I had my system of quickly dialing-in to the web and crawling
  as much pages as possible for offline access {{ ":wink:" | emojify }}
  and other than a few unexplained surges in the dialup bills no one has 
  noticed a thing.</p>

  <p>My father would always remind me not to wreck his computer around those 
  days, because it also served as his office computer. This prevented me from 
  going crazy on the box. This motivated me to buy one my father's old 
  computers with some hard-earned cash which opened up the road to me hacking 
  without limitations.</p>
  <!--I wrote a rudimentary sub7-ish application in Visual Basic that I sent to my ICQ buddies-->
  <p>By the time I finished high-school I had to choose what to study. Computer 
  sciences did seem interesting, but I figured I could learn that from books 
  and brain-picking. Electronics, on the other hand, often required access to 
  some equipment I couldn't readily get my hands on because of the financial 
  aspect. That is why I studied electronics which opened up the world of 
  grade-A workspaces. Besides just understanding software, I wanted to be able 
  to master hardware as well which would give me the proper bird-eye view of 
  the playing field.</p>

  <p>I did study electronics, which marked a wonderful time in my life. After 
  graduating I set foot in the <em>real world</em> by beginning my free-lancing
  adventures. I have built plenty of cool products, made stupid mistakes (lessons), 
  discovered more of my strengths and weaknesses and am learning truck-loads 
  of new things through it all. 
  I am also <strong>having a blast!</strong> on sunny {{ ":sunny:" | emojify }}
  and rainy {{ ":umbrella:" | emojify }} days&mdash;where other people just go
  to work, I head to the playgrounds (the offices) and I'm set on keeping that 
  energy and sense of wonder intact.</p>
</article>
