<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/svg+xml" href="/svg/silhouette.svg">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/print.css" media="print">

    {% if page.mathjax %}
    {% include mathjax.html %}
    {% endif %}
  </head>
  <body>
    <div class="site">
      <header>
        <a href="/">
        <h1 class="title">{{ site.name }}</h1>
          <!-- here -->
          {% if page.head == "africa" %}
            {% include logos/africa.html %}
          {% else %}
            {% include logos/avatar.html %}
          {% endif %}
        </a>
        <p>{{ site.slogan }}</p>
      </header>

      {{ content }}

      <div class="footer">
        <div class="contact">
          <p>
            David Asabina<br />
            Engineer &#9679; Dreamer &#9679; Observer &#9679; Musician<br />
            as at bina dot me
          </p>
        </div>
        <!--
        <div class="contact">
          <p>
            <a href="https://github.com/yourusername">github.com/yourusername</a><br />
            <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
          </p>
        </div>
        -->
      </div>
    </div>
  </body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46897803-1', 'bina.me');
  ga('send', 'pageview');

</script>
</html>
